<p>
  £<%= event.title %>
</p>
<p>
  <%= event.location %>
</p>
<p>
  <%= event.message %>
</p>
<!-- <p>
  <%= event.start_time %>
</p>
<p>
  <%= event.end_time %>
</p>
<p>
  <%= event.invites %>
</p> -->

<a href="/event">See all event</a>

